.App {
  text-align: center;
}

#header-id {
  font-family: WindSong;
  font-size: 3vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#frosted-glass {
  background-color: #b08968;
  border-radius: 25px;
  border: 1px solid black;
  width: 50%;
  padding: 10px;
  box-shadow: 5px;
}

.special-fix {
  margin-top: 50px;
}
.anchor-new {
  color: white;
}

.accordion-button {
  font-size: 100px;
}

#form-info {
  text-transform: none;
  letter-spacing: 0;
}

.App-header,
#App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header2 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
#App-header3 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.home-page-text {
  color: WHITE;
}

#button-form-inline {
  margin-top: 30px;
  border-radius: 15px;
  height: auto;
  background-color: #7f5539;
  border: black;
}
#frosted-div {
  background-color: black;
  margin-top: 15px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
.headline-text {
  color: white;
  font-family: Pacifico;
  text-shadow: 0 0 3px blue, 0 0 5px #0000ff;
  font-size: 50px;
}
#background-filler {
  background-image: url("./Components/Img/forestpark.JPEG");
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
  text-align: center;
}

.App-link {
  color: #61dafb;
}
#acc-text {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #banner {
  background-color: grey;
  background-image: url("./Components/Img/florida1.JPG");
  background-size: cover;
  height: 85vh;
  width: 100vw;
  background-repeat: no-repeat;
  text-align: center;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} */

#password {
  background-color: black;
}

#form-info-control {
  background-color: white;
}

@media screen and (max-width: 485px) {
  #banner {
    background-image: url("./Components/Img/florida3.JPG");
    background-repeat: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 20vh;
    width: 20vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}

@media screen and (max-width: 600px) and (min-width: 486px) {
  #banner {
    background-image: url("./Components/Img/florida1copy.jpg");
    background-repeat: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 50vh;
    width: 50vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}

@media screen and (min-width: 700px) {
  #banner {
    background-image: url("./Components/Img/florida1.JPG");
    background-repeat: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}

@media screen and (max-width: 700px) and (min-width: 400px) {
  #banner {
    background-image: url("./Components/Img/florida1.JPG");
    background-repeat: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}

.color-nav {
  background-color: #b08968;
}

#buttonsForm {
  background-color: #7f5539;
  border: black;
  border-radius: 15px;
}
